{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Positive News</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'pos_d/styles.css' %}"/>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% block java %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
          <div class="row">
            <div class="col" id="Header">
              <p class="text-lg-left" id="Header_text">Covid-19 Positive News Predictor</p>
            </div>
          </div>
          <div class="row" id="row2">
            <div class="col">
              <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                  <div class="bg-dark p-4">
                    <h4 class="text-white">Collapsed content</h4>
                    <span class="text-muted">Toggleable via the navbar brand.</span>
                  </div>
                </div>
                <nav class="navbar navbar-dark bg-dark">
                  <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </nav>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3" id="menu">
            {% block list %}
            {% endblock %}
            </div>
            {% block card %}
            {% endblock %}
          </div>
          <div class="row">
              <div class="col-lg-11 col-sm-10 col-9">

              </div>
              <div class="col-lg-1 col-sm-2 col-3">
                <button id="next" type="button" class="btn btn-success btn-lg">Next</button>
              </div>
          </div>
        </div>
        <nav id="footer">
          <img src="{% static 'pos_d/footer3.png' %}" id="footer_img">
          <img src="{% static 'pos_d/footer_mob3.png' %}" id="footer_mob_img">
        </nav>
    </body>
</html>
