body {
    background-color: #dffada;
}

#Header {
  font-size: 50px;
  color: #0e4b00;
  padding: 50px;
  font-weight: 500;
  font-family: 'Fira Sans Condensed', sans-serif;
  text-align: left;
}
#card_des{
  font-size:13px;
}

#row2{
  display: none;
}
#footer{
  padding:0px;
}
#footer_img{
  height: 170px;
  width:100%;
  position: fixed;
  bottom: 0px;

}

#footer_mob_img{
  width:100%;
  display: none;
}

#card_img{
  max-height: 300px;
}

.list-group-item.active {
  background-color: #28a745;
  border-color: #28a745;
}

.bg-light {
  background-color: #bee6b5!important;
  border-radius: .25rem;
}

.navbar-light .navbar-toggler{
  color: #0e4b00;
  border-color: #0e4b00;
}


.navbar-light .navbar-nav .active>.nav-link{
  color: #0e4b00;
}
.btn-success{
  background-color: #206410;
  border-color: #206410;
}
#menu{
  text-align: center;
}

@media (max-width: 769px) {
  #menu{
    display:none;
  }
  #Header{
    font-size: 30px;
    padding: 15px;
    padding-bottom: 0px;
  }
  #row2{
    display:inline;
  }
  #footer_img{
    display:none;
  }
  #footer_mob_img{
    display:block;
  }
}
